<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58094471368-n8rpbn4m5765qpvca2bn4hbkrb5bgs64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58094471368-n8rpbn4m5765qpvca2bn4hbkrb5bgs64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58094471368-4n425svc4f6s4360kn7cs4j57ooso92g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcHjXiz6JHG9lVNBUESMXoUQI85zuvQQw</string>
	<key>GCM_SENDER_ID</key>
	<string>58094471368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpables.app</string>
	<key>PROJECT_ID</key>
	<string>aid-request-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aid-request-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58094471368:ios:6ad00252cefb8b6a667dfd</string>
</dict>
</plist>